@font-face {
    font-family: "Benne";
    src: url("../fonts/Benne-Regular.otf");
}
.App {
background-color: #6e8185;

}
.error__message {
    background-color: #6e8185;
    height: 600px;
    font-size: 18px;
    margin-top: 70px;
    margin-left: 20px;
    font-weight: 600;
        margin-top: 40px;
        color: #343b43;
        text-align: center;
        font-size: 40px;
 
}